h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 80px;
}

.output {
  color: green;
  background-color: black;
}

body {
  border: 10px solid black;
  border-color: green;
  outline: #4CAF50 solid 10px;
  font-family: "Times New Roman", Times, serif;
  padding: 35px;
}


h1 {
  text-shadow: 1px 1px 2px #000000;
  font-family: "Sofia", sans-serif;
  border: 6px solid green;
  height: 100px;
  width: 500px;
  text-align: center center;
  border-radius: 5px
}


h2 {
  border-bottom: 4px solid green;
}


h3 {
  border-bottom: 2px solid green;
}


p {
  font-size: 22px;
}


/* unvisited link */
a:link {
  color: red;
}


/* visited link */
a:visited {
  color: green;
  background-color: green;
}


/* mouse over link */
a:hover {
  color: hotpink;
  background-color: green;
}


/* selected link */
a:active {
  color: blue;
  background-color: green;
}